.panel{
    text-align: center;
    background: rgb(7, 2, 29);
    color: white;
    width:100%;
    height:100%;
}

.inner-panel{
    display: inline-block;
    text-align: left;
    width:280px;
    height:100%;
    border: 2px solid rgb(151, 3, 250);
    border-radius: 5px;
    overflow-y: scroll;
}

.inner-panel::-webkit-scrollbar{
    display: none;
}
.games{
    padding: 10px;
    font-size: larger;
    margin-top:20px;
}

.games #game{
    border:2px solid white;
    padding:5px;
    border-radius:5px;
    margin-top: 20px;
}

#preview-butt{
    float: right;
    background-color: white;
}


#endb{
    font-weight: bold;
    color: white;
}

#endb:focus{
    outline: none;
    box-shadow: none;
}

