.panel{
    text-align: center;
    background: rgb(7, 2, 29);
    color: white;
    width:100%;
    height:100%;
    overflow-y: scroll;

}

.inner-panel{
    display: inline-block;
    text-align: left;
    width:280px;
    height:100%;
    border: 2px solid rgb(151, 3, 250);
    border-radius: 5px;
}

.user-ico{
    margin-top:5px;
    padding: 5px;
    font-size:50px;
}

#add-new{
    background-color: white;
}

#buttons{
    text-align: center;
    font-weight: bold;
}

#buttons  button{
    width: 150px;
}

#buttons-logout{
    text-align: right;
}

.user-ico p{
    margin-top: -5px;
    font-size:25px;
    display: inline-block;
}


@media screen and (max-width: 400px) {
    .inner-panel{
        width: 100%;
    }
}