.gameScreen{
    background: rgb(7, 2, 29);
    text-align: center;
    height:100%;
    color: black;
    overflow: auto;

}

#inner-gameScreen{
    display: inline-block;
    width: 290px;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
}


.gback-button{
    margin-top:1px;
}
.gback-button img{
    width:30px;
    height:30px;
    background-color: white;
    border-radius: 50%;
    margin:0;
    padding: 0;
}

.white-screen{
    margin-top:180px;
    width: 300px;
    height:300px;
    display: inline-block;
    text-align: center;
    border:2px solid black;
    background-color: white;
    border-radius: 10px;
}

.white-screen .inner-counter{
    margin-top:30px;
    font-weight: 700;
    display: inline-block;
    position: relative;
}

.inner-counter #tick{
    height:30px;
    width:30px;
    margin-top:-10px;
}

.inner-counter p{
    margin-top:-60px;
}
.block{
    width:280px;
    display: inline-block;
}

.game-main .block .block-topper{
    margin-top: 10px;
    width:280px;
    font-weight: bold;
    height:50px;
}

.que-num{
    display: inline-block;
    margin-left:0px;
    width: max-content;
}
.question-timer{
    border: 1px solid blue;
    float: right;
    margin-left:50px;
    text-align: center;
    width: 80px;
    border-radius:30px;
    background-color: yellow;
    color: blue;
    font-size: 15px;
}

.question{
    margin-top:5px;
    font-size: large;
    font-weight: 800;
}

.questionImage{
    margin-top:-5px;
    border-radius: 10px;
    background-color: white;
}
.questionImage #qi{
    border: thin;
    width:150px;
    height:160px;
    margin-top: -150px;
}

#clock{
    width:18px;
    height:18px;
}

.questionImage #poppers{
    width: 100%;
}

.answer{
    margin-top:5px;
}

.inner-answer-div{
    display: inline-block;
    margin-left:5px;
    margin-top:5px;
    font-weight: bold;
    text-align: center;
    width:35px;
    height:35px;
    border:2px solid palevioletred;
    border-radius: 5px;
    background-color: white;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 7px 1px rgb(245, 47, 212);
}

.sanswer{
    height:max-content;
    width:290px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    margin-top:30px;
    background: white;
    border-radius: 10px;
    padding: 5px;
}

.inner-sanswer-div{
    margin-top:10px;
    cursor: pointer;
    color: black;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-left:5px;
    width:35px;
    height:35px;
    border:2px solid palevioletred;
    border-radius: 5px;
    background-color: white;
    outline: none;
}

.sanswer #submit{
    color: white;
    padding: 5px;
    width:120px;
    font-weight: bold;
    border-radius:5px;
    margin-top: 10px;
    outline: none;
    border: 1px solid white;
    background-color: rgb(241, 7, 175);
}
.sanswer #delete{
    color: #f107af;
    padding: 5px;
    width:120px;
    font-weight: bold;
    border-radius:5px;
    margin-top: 10px;
    outline: none;
    border: 1px solid rgb(241, 7, 175);
    background-color: white;
}

#quit-game{
    background-color: white;
    margin-top:10px;
    outline: none;
    border: 0;
    font-weight: bold;
    color: rgb(241, 7, 175);
}

#confirm-quit{
    display:none;
    font-weight: bold;
    color:rgb(241, 7, 175) ;
    background-color: white;
    border-radius:10px;
    position: absolute;
    margin-top:120px;
    margin-left:5px;
    width:280px;
    height:250px;
    padding:20px;
    box-shadow: 1px 1px 5px 5px rgb(245, 47, 212);
}

#confirm-quit img{
    width:150px;
}

#confirm-quit button{
    display: inline-block;
    margin-left: 2px;
    background-color:  rgb(241, 7, 175);
    margin-top:10px;
    border:1px solid white;
    font-weight: bold;
    color: white;
}

#inner-gameScreen{
    color: white;
}
@media screen and (max-width: 400px) {
    .white-screen{
        width: 100%;
    }
}

@media screen and (max-height:550px){
    .questionImage #qi{
        width: 110px;
        height: 120px;
        margin-top: -100px;
    }
    .questionImage #poppers{
        height:120px;
    }

    #confirm-quit{
        margin-top: 80px;
    }
    .white-screen{
        margin-top: 80px;
    }
}