.user-home{
    background: rgb(7, 2, 29);
    text-align: center;
    height:100%;
    color: white;
    overflow-y: scroll;
}

.games-screen{
    padding: 5px;
    overflow-y:scroll;
    text-align: left;
    display: inline-block;
}

.games-screen::-webkit-scrollbar{
    display: none;
}

.banner img{
    max-width: 280px;
    height:100px;
}
.coming-soon{
    max-width:280px;
    height:160px;
    white-space: nowrap;
    overflow-x:scroll;
}
.inside-element{
    display: inline-block;
    color: black;
    padding: 2px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 200px;
    height:max-content;
    text-align: center;
}

.carousel-root{
    max-width: 300px;
}
.carousel-root .carousel .slide {
    background: rgb(7, 2, 29);
}

.carousel .carousel-status{
    display: none;
}

.carousel .thumbs-wrapper{
    display: none;
}

.inside-element img{
    display: inline-block;
    width:100%;
    height:100px;
    border-radius:10px;
    padding:0px;
}
.on-going{
    max-width:280px;
    height:175px;
    white-space: nowrap;
    overflow-x:scroll;
}
.carousel .inside-element #butt{
    width: 100%;
    margin-top:3px;
    font-weight: bold;
    font-size: 14px;
    padding-top:2px;
    padding-bottom:2px;
    color: white;
    background-color: rgb(252, 9, 159);
}
.control-dots{
    display:none;
}
.time-over{
    max-width:280px;
    height:max-content;
    white-space: nowrap;
    overflow-x:scroll;
}

.on-going .inside-element img{
    width:100%;
    border-radius:0 0 5px 5px;
    margin-top:-1px;
}

.coming-soon .inside-element img{
    width:100%;
    border-radius:0 0 5px 5px;
    margin-top:-1px;
}

.coming-soon .inside-element{
    padding: 5px;
}


.timer{
    margin-top:5px;
    font-weight: bold;
    font-size:12px;
}
#game-ending{
    padding:2px;
    width: 100%;
    font-size: 12px;
    background-color: rgb(252, 159, 9);
    color: rgb(5, 5, 5);
    font-weight: bold;
    border-radius:5px 5px 0 0;
    border-bottom: 0;
}

@media only screen and (min-width:600px) {
    .banner img{
        width:300px;
    }
    .games-screen{
        height: max-content;
    }
  }

  @media screen and (max-width: 400px) {
    .games-screen{
        height: max-content;
        width: 100%;
    }
    .coming-soon{
        max-width: 100%;
    }
    .on-going{
        max-width: 100%;
    }
    .time-over{
        max-width: 100%;
    }
    .carousel-root{
        max-width: 100%;
    }
}

.coming-soon::-webkit-scrollbar{
    display: none;
}
.on-going::-webkit-scrollbar{
    display: none;
}.time-over::-webkit-scrollbar{
    display: none;
}