.winner{
    background: rgb(7, 2, 29);
    text-align: center;
    height:100%;
    color: white;
    overflow-y: scroll;
}
.inner-winner-block{
    display: inline-block;
    width:280px;
}
.inner-winner{
    margin-top:50px;
    background: white;
    height:200px;
    border-radius: 10px;
    display: inline-block;
    width:280px;
    text-align: left;
    font-weight: 600;
    font-size:20px;
    color: rgb(230, 21, 118);
}

.inner-winner img{
    width: 280px;
}

.inner-winner p{
    text-align: center;
}
.inner-winner #p1{
    font-size: 25px;
    margin-top:-70px;
    text-align: center;
}
.inner-winner #p2{
    font-size:18px;
    margin-top:-30px;
    text-align: center;
}

#form{
    text-align: left;
    border:2px solid white;
    border-radius: 10px;
    background-color:rgb(230, 21, 118);
    margin-top:20px;
    width:280px;
}

#form div{
    width:250px;
}

#form form{
    text-align: left;
    width:250px;
}

#form input{
    width:240px;
}

#submit{
    width:280px;
    text-align: center;
}

#submit button{
    border: 1px solid rgb(230, 21, 118);
    background-color: white;
    color: rgb(230, 21, 118);
    font-weight: bold;
}